# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pyz
*.pyzw
*.egg-info/
dist/
build/
*.egg
*.spec

# Virtual environment
vir/

# Flask
instance/

# Databases
*.db
*.sqlite

# Logs
logs/
*.log

# OS generated
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak